.header__logo {
    background-image: url(../../../images/logo.svg);
    background-repeat: no-repeat;
    min-height: 33px;
    width: 142px;
}

.header__logo:hover {
    background-image: url(../../../images/logo-hover.svg);
}

@media all and (max-width: 767px) {
    .header__logo {
        margin-left: 27px;
        min-height: 24px;
        background-size: contain;
    }
}
